/* MIXINS */
@mixin transition { //transition property
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@mixin text($weight, $size, $color) {
  font: {
    family: $font;
    weight: $weight;
    size: $size;
    style: normal;
    stretch: normal;
  }
  color: $color;
}

@mixin rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}