/*VARIABLES */
$font: 'Circe', sans-serif;
$gilroy: 'Gilroy', 'Circe', sans-serif;
$black: #6b6b6b;
$white: #fff;
$yellow: #febc00;
$orange: #ff8500;
$l-yellow: #fdbc00;
$green: #20d6b9;
$foot-back: #fd9b00;
$price: #d8d8d8;